[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.8"
python-decouple = "*"
config = "*"
python-dotenv = "*"
dj-database-url = "*"
django-heroku = "*"
django-bootstrap4 = "*"
django-crispy-forms = "*"
psycopg2 = "*"
cloudinary = "*"
pillow = "*"
django-registration = "==3.1.1"
whitenoise = "*"
django-tinymce = "*"

[dev-packages]

[requires]
python_version = "3.6"
