{% extends 'base.html' %}
{%block content%}
{{ block.super}}

<div>

  <div class="container-fluid"
    style="background-image: url('https://images.unsplash.com/photo-1631701601945-414a32dbef47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80');  background-repeat: no-repeat; background-size: cover; height: 100vh;  background-position: center; text-align:center; overflow-x:hidden;">


    <h1 style="  font-size:50px; margin-top:60px; color:black;"><span style="background-color:rgb(137, 206, 137);">Site
        of the day</span>
    </h1>
    <p style="color: black;"><span style="background-color: rgb(240, 155, 240);">This is a gallery app by <b>Joy
          Machuka</b></span></p>
    <div>
      <img src="https://i.ibb.co/hD44ZRp/homeimage.png" alt="">
    </div>
    
    <a href="https://machukagalleria.herokuapp.com/" class="btn bg-dark btn-rounded" target="_blank"><span
        style="color:white;">view site</span></a>
  </div>


  <br><br>
  <div class="container-fluid">
    <div class="row">
      {% for project in json_projects %}
      <div class="col-md-4">
        <div class="card-group">
          <div class="card card-personal mb-4" style="background-color: rgb(40, 44, 40);color:green">
            <div class="view">
              <img class="card-img-top" style="width: 100%;height: 250px;object-fit:fill" src="{{project.image.url}}" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <div class="card-body">
              <h3 style="font-family: 'Cuprum', sans-serif;">{{project.title}} <a href="{{project.link}}"
                  class="btn bg-dark btn-outline-success btn-rounded" target="_blank"><span
                    style="color:rgb(218, 241, 197);">View site</span></a></h3>

              <p class="card-text" style="color:aquamarine"><b style="color:rgb(9, 241, 164)">project
                  description:</b>{{project.description}}</p>

              <hr>
              <span style="color:rgb(25, 247, 173)"><a href="profile"> <img
                    style="border-radius: 50%; width:30px; height:30px;color: aquamarine; "
                    src="{{project.avatar }}"></a><span style="color:rgb(9, 241, 164)">By</span>
                <b style="color: aquamarine;">{{project.author}}</b></span>

              <p class="card-meta float-right" style="color:rgb(9, 241, 164)">{{project.date_craeted}}</p>

            </div>
          </div>
        </div>


      </div>
      {% endfor %}

    </div>

  </div>

</div>

{%endblock%}
